<!DOCTYPE html>
<html>
<head>
    <title>WA 02</title>
    <style>
        body {
            background: skyblue;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #fff;
            padding: 30px;
        }
        h1 {
            font-size: 48px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }
        p {
            font-size: 16px;
            text-align: center;
        }
        header ul {
            display: flex;
            flex-direction: row;
            gap: 15px;
            justify-content: flex-end;
            align-items: center;
            list-style: none;
        }

        header a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 900;
        }

        header a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>In order to contact US you can choose the option below: </h1>
        <p>Morteza</p>
        <p>Mohammad</p>
    </main>
    
</body>
</html>
